.box{
    height: 200px;
    width: 200px;
    position: absolute;
    border: 1px solid #000;
    text-align: center
}

.box_1{
    background-color: red;
}
.box_2{
    background-color: yellow;
    left:250px
}
.box_3{
    background-color: blue;
    z-index: 2;
    top: 125px;
    left: 125px;
}
.box_4{
    background-color: green;
    top: 250px;
}
.box_5{
    background-color: orange;
    top: 250px;
    left: 250px;
}